.formGroup {
    margin-top: 5px;
}

.formGroup label {
    display: block
}

.formGroup input {
    width: 350px;
    height: 40px;
    margin: 10px auto;
    border: 1px solid #d1d5db;
    box-sizing: border-box;
} 
.formGroup input:focus {
  outline: none;
  border: 2px solid #d1d5db;
}
.formGroup > input::placeholder{
    padding: 30px 10px;

}
.error{
    color: red;
}