* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.loginPage {
    width: 530px;
    margin: auto;
    margin-top: 60px;
    text-align: center;
}

h5{
    color: gray
}

.formLogin{
    background: #fff;
    padding: 28px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
    text-align: left;
}
.registerlink{
    text-align: center;
}
.registerlink span{
    color:#2563eb;
}
.registerlink span:hover{
    cursor: pointer;
}

.error{
    margin-top: 10px;
    color: red;
    border: 1px solid rgb(238, 119, 119);
    background-color: rgb(251, 224, 224);
    padding: 10px ;
}