.footer{
    width: 100%;
    height: 307px;

}
.footer .container{
    width:1090px ;
}
.footer .container .column{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.column li{
    text-align: left;

}
.column p{
    color: gray;
    font-size: 13px;
}
hr{
    margin: 20px 0;
}
.copy{
    font-size: 15px;
}
