nav{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    background: #fff;
    left: 0;
    border-bottom: 1px solid #000 ;
}
nav .container{
    width: 1090px;
    display: flex;
    justify-content: space-between;
    
}

nav .logo{
    /* position: relative; */
    width: 150px;
    margin: 10px 0 ;
}

nav ul li {
    display: inline-block;
    position: relative; 
    padding: 20px 10px;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-color 0.3s;
}

nav ul li:hover, .bi-search:hover {
    color: var(--blue);
    border-bottom-color: var(--blue);
}



.container .bi-search{
    padding: 20px 0;
    cursor: pointer;
}