nav{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    background: #fff;
    left: 0;
    border-bottom: 1px solid #ccc8c8 ;
}
nav .container{
    width: 1090px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    
}

nav .logo{
    /* position: relative; */
    width: 150px;
    /* margin: 30px 0 ; */

}
.btn .btnLogin{
    width: 140px ;
    /* height: 30px; */
    background-color: #fff;
    margin: 0 10px;
}
.btn .btnRegister{
    width: 140px ;
    /* height: 30px; */
    background-color: #2563eb;
    color:#fff;
}

